@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
#home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr; 
}
#content{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-bottom: 50px;
}
.logo_link{
    justify-self:start;
    background-color: white;
    max-width: 70%;
    max-height: 70%;
}
.welcome-text{
    font-size: 30px;
    padding-left: 20px;
    background-color: white; 
}
.welcome-img{
    max-width: 100%;
    max-height: 100%;
    margin-left: 150px;
    background-color: white;
}
.lessons{
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 30px;
    background-color: white;
    margin: 50px;
}
.girl{
    grid-row: 3/4;
    grid-column: 1/3;
    text-align: center;
    background-color: white;
    margin: 50px;
}
footer{
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
nav a{
    grid-column: 2/3;
    color:black;
    text-decoration: none;
    padding: 25px;
    text-align: center;
    font-size: 20px;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
footer a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
p{
    font-family: Moogli, Source Sans 3;
    color:#0D070A;
}
footer p{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
body{
    background-color:white
}